logs/
*.log
*.log*

*.lock
*.lock.json
*.lock.*
*-lock.*

node_modules

.DS_Store
.idea
.classpath
.project
.settings
Thumbs.db
.ntvs_analysis.dat
dist
build
.sass-cache/

nginx/
upload/*
tmp/*
config.js
!.gitkeep
.vscode/launch.json
