<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link href="/assets/libs/font-awesome/css/fontawesome-all.css" rel='stylesheet' />
    <link href="/assets/libs/bootstrap/css/bootstrap.css" rel='stylesheet' />
    <link href="/assets/libs/select2/select2.css" rel="stylesheet">
    <link href="/assets/css/framework-ui.css" rel="stylesheet">

    <script src="/assets/libs/jquery/jquery.js"></script>
    <script src="/assets/libs/popper/popper.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.js"></script>
    
    <script src="/assets/libs/jquery-validate/jquery.validate.js"></script>
    <script src="/assets/libs/select2/select2.js"></script>
    <script src="/assets/libs/select2/zh-CN.js"></script>
    <script src="/assets/libs/moment/moment.js"></script>
    <script src="/assets/js/framework-ui.js"></script>
  </head>
  <body class="md-skin">
        <%- body -%>
  </body>  
</html>